@model IEnumerable<MyApp.Models.Root>
@{
    ViewData["Title"] = "Página inicial";
}


<div class="container">
  
<div class="">
  <div class="d-flex justify-content-center mb-5">
    <h2 class="text-success">Bandeira</h2>
  </div>
  <div class="d-flex justify-content-center line-round">
     <img src='@ViewData["flag_path"]' alt="Bandeira">     
       
  </div>

</div>

</div>