
@{
  ViewData["title"] = "Fetching data from API";
}

<table class="table">
<thead>
  <tr>
    <th>Name</th>
    <th>Apelido</th>
   

  </tr>
</thead>

<table>
<tr>
<td>Nhica</td>
<td>Nhica</td>
</tr>
</table>